/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('/IMAGES/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 150px;
    height: 50px;
}

header nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    text-decoration: underline;
    color: wheat;
}


/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: calc(100vh - 150px);
}

.content {
    flex: 1;
    max-width: 50%;
}

.content h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #E4D4B5;
}

.content p {
    font-size: 22px;
    line-height: 1.6;
    color: #E4D4B5;
}


.hero-image {
    flex: 1;
    max-width: 50%;
    text-align: right;
}

.hero-image img {
    width: 80%;
    max-width: 400px;
    transition: transform 0.3s, filter 0.3s;
}
.hero-image :hover{
    transform: scale(1.05);
    filter: drop-shadow(10px 10px 20px wheat);
}


